In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer 
df = pd.read_csv("country_vaccination_stats.csv")

First, I created a list called "countries" consisting of the name of the countries in the dataframe. Then, I created a for loop that iterates through "countries". Inside the loop, I created "sub_df" which is a dataframe that is made of the rows that contain the specific country in the loop, from the original df. Then, I found the minimum value among the daily_vaccinations column of the sub_df and filled the null values of this column by the minimum value using SimpleImputer. I finished the loop by appending the modified sub_df to the "arrays" list. Outside of the loop, I turned arrays into a final dataframe called "imputed_df".

In [2]:
countries = df["country"].unique()
arrays = []
for country in countries:
    sub_df = df[df["country"] == country]
    min_value = sub_df["daily_vaccinations"].min()
    imp_min = SimpleImputer(strategy = "constant", fill_value = min_value)
    sub_df = imp_min.fit_transform(sub_df)
    arrays.append(sub_df)

large_array = np.vstack(arrays)

imputed_df = pd.DataFrame(large_array,columns=["country", "date","daily_vaccinations","vaccines"])
imputed_df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

I checked if there are any null values left in the "daily_vaccinations" column.

In [4]:
imputed_df["daily_vaccinations"].isnull().sum()

1

There is still one null value left. I printed the row with the null value.

In [5]:
imputed_df[imputed_df["daily_vaccinations"].isnull()]

    country        date daily_vaccinations         vaccines
750  Kuwait  12/28/2020                NaN  Pfizer/BioNTech

Since the country of the row is Kuwait, I also printed all rows that have Kuwait in the country column.

In [6]:
imputed_df[imputed_df["country"] == "Kuwait"]

    country        date daily_vaccinations         vaccines
750  Kuwait  12/28/2020                NaN  Pfizer/BioNTech

The null value in this specific row wasn't modified because there is only one row for the country Kuwait. I replaced the null value with zero.

In [7]:
imputed_df.loc[750, "daily_vaccinations"] = 0

In [8]:
imputed_df["daily_vaccinations"].isnull().sum()

0