First I created a sample dataframe to apply my function.

In [8]:
import pandas as pd
import re


data = {'Device_Type': ['AXO145', 'TRU151', 'ZOD231', 'YRT326', 'LWR245'],
        'Stats_Access_Link': ['<url>https://xcd32112.smart_meter.com</url>', 
                               '<url>http://tXh67.dia_meter.com</url>', 
                               '<url>http://yT5495.smart_meter.com</url>',
                               '<url>https://ret323_TRu.crown.com</url>',
                               '<url>https://luwr3243.celcius.com</url>',]
        }


df = pd.DataFrame(data)
df

  Device_Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_TRu.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

Then, inside remove_xml() function I created, I defined a regular expression pattern to match URLs. I substituted matching strings with the first captured group in the pattern. After getting the result, I checked if the remaining part satisfies the conditions given in the question.

In [9]:
def remove_xml(text):
    pattern = r'<url>https?://([^<]+)</url>'
    result = re.sub(pattern, r'\1', text)
    
    validation_pattern = r'^[a-zA-Z0-9_.]+$'
    
    if re.match(validation_pattern, result):
        return result
    else:
        raise ValueError("The link contains invalid characters.")

In [10]:
df['Stats_Access_Link'] = df['Stats_Access_Link'].apply(remove_xml)

In [11]:
df

  Device_Type         Stats_Access_Link
0      AXO145  xcd32112.smart_meter.com
1      TRU151       tXh67.dia_meter.com
2      ZOD231    yT5495.smart_meter.com
3      YRT326      ret323_TRu.crown.com
4      LWR245      luwr3243.celcius.com